<%= form_with(model: transaction, url: create_transaction_path, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, [['Income', 'income'], ['Expense', 'expense']] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
