<%= form_with(model: transaction, url: create_transaction_path, local: true) do |form| %>
  <div class="field <%= 'field_with_errors' if transaction.errors[:date].any? %>">
    <%= form.label :date %>
    <%= form.date_field :date %>
    <% if transaction.errors[:date].any? %>
      <div class="error_message">
        <%= transaction.errors[:date].first %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'field_with_errors' if transaction.errors[:amount].any? %>">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: :any %>
    <% if transaction.errors[:amount].any? %>
      <div class="error_message">
        <%= transaction.errors[:amount].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(Transaction::CATEGORIES, transaction.category) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, options_for_select(%w[income expense], transaction.transaction_type) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
